.cart{
    background-color: bisque;
    color: black;
    text-align: center;
    margin-top: 50px;
    height: 800px;
    position: sticky;
    top: 0;
}
.btn-clear{
    background-color: tomato;
    width: 90%;
}
.icon{
    margin-left: 10px;
}