.review-item{
    width: 571px;
    border: 1px solid darkgray;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    padding: 8px;
}
.review-item img{
    width: 90px;
    height: 90px;
    padding: 8px;
    border-radius: 6px;
}
.product-info p{
    margin: 5px;
}
.product-info{
    flex-grow: 1;
    
}


.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgb(245, 195, 195);
    color: red;
    margin: auto;
    
}
.orange-color{
    color: orange;
}